@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .receiptField {
    @apply p-1 my-[1px] border-[1px] border-blue-400 rounded-md;
  }
  .dragAndDrop {
    @apply flex h-[80vh] w-[80%] md:w-[70%] items-center justify-center 
    border-solid rounded-md mt-3 mb-5 hover:opacity-70  
    bg-[#DDE4E4] text-center font-mono font-bold p-5;
  }
  .cameraButton {
    @apply h-[50px] w-full bg-gradient-to-r from-[#02f96f] to-[#29c7b9]
    text-white uppercase font-mono font-bold p-2 rounded-t-md md:rounded-md;
  }
}

body {
  background: linear-gradient(-45deg, #171c3a, #115246);
  background-size: 400% 400%;
  animation: bg-gradient 5s ease infinite;
  height: 100vh;
}

@keyframes bg-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.active-tab {
  position: relative;
}
.active-tab::after {
  content: "";
  position: absolute;
  top: 25px;
  left: calc(50% - 25px);
  height: 3px;
  width: 50px;
  background: linear-gradient(60deg, #02f96f, #29c7b9);
  opacity: 1;
}

.inactive-tab {
  position: relative;
}
.inactive-tab:hover::after {
  content: "";
  position: absolute;
  top: 25px;
  left: calc(50% - 25px);
  height: 3px;
  width: 50px;
  background-color: grey;
  opacity: 1;
}

ul > li {
  cursor: pointer;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 90%;
}
